**.h5
**.job
**.joblib
**count.[tc]sv
**counts.[tc]sv

MBC_EMT/data/filtered_feature_bc_matrix/*
MBC_EMT/data/spatial/*
MBC_EMT/data/filtered_feature_bc_matrix.h5
MBC_EMT/TCGA_TNBC_validation/nature11412-s2/*
simulation/source_data/**
simulation/simulated_data/**
simulation/reference/**

simulation/scripts/generate_simulation/cell2loc_inputs_level1/*/*
simulation/scripts/generate_simulation/cell2loc_inputs_level2/*/*
MBC_EMT/data/MIST/ReSort_mixture_raw.csv
MBC_EMT/data/MIST/ReSort_reference_meta.csv
MBC_EMT/data/MIST/ReSort_reference_raw_count.csv
MBC_EMT/data/MIST/adata.job
simulation/scripts/generate_simulation/cell2loc_inputs_level2/pure/internal_reference.h5
simulation/scripts/generate_simulation/cell2loc_inputs_level2/infiltrated/internal_reference.h5
simulation/scripts/generate_simulation/cell2loc_inputs_level2/pure/internal_reference_immune_only.h5
simulation/scripts/generate_simulation/cell2loc_inputs_level2/infiltrated/internal_reference_immune_only.h5
simulation/scripts/generate_simulation/cell2loc_inputs_level2/pure/external_reference.h5
simulation/scripts/generate_simulation/cell2loc_inputs_level2/infiltrated/external_reference.h5
simulation/source_data/PDACA_single_cell_filtered_meta_cell_types.h5
MBC_EMT/data/MIST/adata.job
MBC_EMT/TCGA_TNBC_validation/nature11412-s2/TCGA_BRCA_RPKM.txt
